* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'XM Vahid';
    src: url('./fonts/XM-Vahid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f2ec;
    padding: 20px;
    color:#ededee; 
    background-image: url('Services2 background.jpg'); /* Background image for the page */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: 'XM Vahid', sans-serif;
}

.container {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    /* background-color: #fdf5e6;  */
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    overflow: hidden;
}

.content {
    width: 70%;
    margin-right: auto;
    margin-left: 40px;
}

.header {
    background-color: #cdad7e; /* Dark blue header background */
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    border-radius: 40px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.header h1 {
    color: white; /* Light beige text */
    font-size: 38px;
    font-family: 'Georgia', serif; /* Serif font for the title */
}

.text {
    margin-top: 10px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 19px;
}

.english-text, .arabic-text {
    flex: 1;
    margin-right: 20px;
    font-family: 'XM Vahid', sans-serif;/* Clean sans-serif font for body text */
}

.english-text p, .arabic-text p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.english-text ul, .arabic-text ul {
    margin-top: 10px;
    padding-left: 20px;
    list-style-type: disc;
    line-height: 1.6;
}

.arabic-text {
    text-align: right;
    direction: rtl;
    font-family: 'XM Vahid', sans-serif;
}

.image-container {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for the image */
    margin-top: 130px;
}

.small{
    display: none;
}
.big{
    display: block;
}

.arabic-text{
    font-size: 22px;
    line-height: 2.5;
}

.english-text{
    font-family: 'Georgia', serif;
}


@media screen and (max-width: 1300px) {
    .content {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .content {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    .container {
        display: flex;
        flex-direction:column;
    }
    .small{
        display: block;
        margin-top: 20px ;
    }
    .small img{
        margin-top: 0 !important;
    }
    .big{
        display: none;
    }
    .text{
        display: flex;
        flex-direction: column-reverse;
    }
    .english-text{
        margin-top: 40px;
    }
}

@media screen and (max-width: 700px) {
    .content {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}